/* flex -> gap */

.gap-16 {
  gap: 16rem;
}

/* end flex -> gap */

/* borders */

.border-green {
  border: 1px solid var(--primary-color) !important;
}

/* margins */

.mx-05 {
  margin-right: 0.05rem !important;
  margin-left: 0.05rem !important;
}
/* extra styles */
.box-shadow-hard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* end extra styles */
