/* bootstrap css v-5 */
@import "/src/assets/css/bootstrap.css";

/* default css */

:root {
  /* Define root variables */
  --primary-color: #004d14;
  --secondary-color: #f6f7f2;
  --optional-color: #fcce54;
}

#root {
  /* background: url("/images/paisley.png") repeat scroll center top
    rgba(0, 0, 0, 0); */

  height: auto;
}

p {
  margin-bottom: 0px !important;
}
a {
  text-decoration: none !important;
}
ul {
  list-style: none;
  padding-left: 0px;
}
.cusror-pointer {
  cursor: pointer;
}

.bg-primary {
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}
.text-primary {
  color: var(--primary-color) !important;
}
td {
  vertical-align: middle;
}
.control-dots {
  background: rgba(0, 0, 0, 0.4);
  width: 90px !important;
  text-align: center;
  margin-top: 10px !important;
  left: 50%;
  border-radius: 10px;
  bottom: 6px !important;
}
.form-select {
  width: auto;
}
.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
}
.btn-primary:hover {
  background: #02300e;
  border: 1px solid var(--primary-color);
}

/* custom css */

.sidebar-col-lg-3 {
  width: 29.5%;
}

.carousel-item img {
  height: 380px;
  object-fit: cover;
}

.teacher img {
  height: 150px;
  object-fit: cover;
  /* width: 130px; */
}
.teacher-list .col-lg-2 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.teacher .card-body {
  text-align: center;
}
.teacher .card-body h5 {
  font-size: 16px;
  margin-bottom: 0px;
}
.info-heading {
  border-left: 5px solid var(--optional-color);
}
.info-icon-wrapper {
  padding: 10px;
}
.info-icon-wrapper i {
  font-size: 60px;
  color: var(--primary-color);
}
.info-list-wrapper {
  list-style: none;
  padding-left: 0px;
}

.figure img {
  height: 300px;
  object-fit: cover;
}

.marquee-container {
  overflow: hidden;
  height: auto; /* Adjust the height as needed */
}

.marquee-content {
  animation: marqueeAnimation 5s linear infinite;
  white-space: nowrap;
}

@keyframes marqueeAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.importnt-links {
  margin-top: 20px;
}
.importnt-links li {
  margin-bottom: 5px;
}
.copyright {
  margin-top: 10px;
  font-size: 16px;
  line-height: 17px;
  margin-bottom: 5px !important;
}
.made-by {
  color: rgb(197, 192, 192);
  font-size: 14px;
}
.made-by a {
  color: white;
  font-weight: 500;
}
.footer-main {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 5px;
  padding: 10px;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.footer-col-heading {
  font-size: 24px !important;
  position: relative;
  margin-bottom: 15px;
}
.footer-col-heading::after {
  width: 30px;
  height: 4px;
  content: "";
  background-color: var(--optional-color);
  position: absolute;
  left: 0px;
  top: 30px;
}
.footer-links a {
  color: rgb(197, 192, 192);
}
.footer-social {
  margin-top: 14px;
}
.footer-social i {
  font-size: 24px;
}
.page-card {
  border-left: 3px solid var(--primary-color);
}
.footer-contact i {
  margin-right: 5px;
  width: 20px;
  text-align: center;
  font-size: 15px;
}
.bg-light-grey {
  background: lightgrey;
}

/* sidebar notice board */
.news img {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  height: 70px;
}
.news-content h4 {
  font-weight: bold;
}
.news-subheading {
  font-size: 14px;
  margin-top: 5px;
}
.news-source {
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
}
.teacher-content .card-title {
  font-size: 15px !important;
}
.teacher-content .card-text {
  font-size: 13px !important;
}
/* brilliant students */
.brilliant {
  border: none !important;
}
.brilliant img {
  border-radius: 50%;
  width: 140px;
  height: 170px;
  object-fit: cover;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid var(--primary-color);
}
.brilliant-section .control-dots {
  bottom: -10px !important;
}
.brilliant p:nth-of-type(2) {
  color: grey;
  font-size: 12px;
  margin-top: 2px;
}
.brilliant p span {
  background: var(--primary-color);
  color: white;
  padding: 3px 8px;
  border-radius: 5px;
}
/* Photo Gallery Image */

/* Position the image container (needed to position the left and right arrows) */
.photo-container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  height: 480px;
  object-fit: cover;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 77, 20, 0.8);
  color: #fff !important;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 3px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 77, 20, 0.8);
  border-radius: 7px;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: var(--primary-color);
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*
* ---- Class Time Table
*/

.class_timetable_col {
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 2px solid var(--primary-color);
  width: 100%;
}
.timetable-cell div {
  font-size: 15px;
}

/* online result */

.student-details .col-lg-4 p {
  font-size: 24px;
  padding-bottom: 10px;
}
.student-details .col-lg-4 p .font-weight-b {
  /* font-weight: 500 !important; */
}
.student-photo img {
  height: 180px;
  width: 150px;
  object-fit: cover;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  object-position: top;
}

/* responsive css */
